/* HTML: <div class="loader"></div> */
.loader {
  --w: 10ch;
  font-weight: bold;
  font-family: monospace;
  font-size: 50px;
  line-height: 1.4em;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  color: white;
  text-shadow: calc(0 * var(--w)) 0 white, calc(-1 * var(--w)) 0 white,
    calc(-2 * var(--w)) 0 white, calc(-3 * var(--w)) 0 white,
    calc(-4 * var(--w)) 0 white, calc(-5 * var(--w)) 0 white,
    calc(-6 * var(--w)) 0 white, calc(-7 * var(--w)) 0 white,
    calc(-8 * var(--w)) 0 white, calc(-9 * var(--w)) 0 white;
  animation: l20 2s infinite linear;
}
.loader:before {
  content: "Loading...";
}

@keyframes l20 {
  9.09% {
    text-shadow: calc(0 * var(--w)) -10px white, calc(-1 * var(--w)) 0 white,
      calc(-2 * var(--w)) 0 white, calc(-3 * var(--w)) 0 white,
      calc(-4 * var(--w)) 0 white, calc(-5 * var(--w)) 0 white,
      calc(-6 * var(--w)) 0 white, calc(-7 * var(--w)) 0 white,
      calc(-8 * var(--w)) 0 white, calc(-9 * var(--w)) 0 white;
  }
  18.18% {
    text-shadow: calc(0 * var(--w)) 0 white, calc(-1 * var(--w)) -10px white,
      calc(-2 * var(--w)) 0 white, calc(-3 * var(--w)) 0 white,
      calc(-4 * var(--w)) 0 white, calc(-5 * var(--w)) 0 white,
      calc(-6 * var(--w)) 0 white, calc(-7 * var(--w)) 0 white,
      calc(-8 * var(--w)) 0 white, calc(-9 * var(--w)) 0 white;
  }
  27.27% {
    text-shadow: calc(0 * var(--w)) 0 white, calc(-1 * var(--w)) 0 white,
      calc(-2 * var(--w)) -10px white, calc(-3 * var(--w)) 0 white,
      calc(-4 * var(--w)) 0 white, calc(-5 * var(--w)) 0 white,
      calc(-6 * var(--w)) 0 white, calc(-7 * var(--w)) 0 white,
      calc(-8 * var(--w)) 0 white, calc(-9 * var(--w)) 0 white;
  }
  36.36% {
    text-shadow: calc(0 * var(--w)) 0 white, calc(-1 * var(--w)) 0 white,
      calc(-2 * var(--w)) 0 white, calc(-3 * var(--w)) -10px white,
      calc(-4 * var(--w)) 0 white, calc(-5 * var(--w)) 0 white,
      calc(-6 * var(--w)) 0 white, calc(-7 * var(--w)) 0 white,
      calc(-8 * var(--w)) 0 white, calc(-9 * var(--w)) 0 white;
  }
  45.45% {
    text-shadow: calc(0 * var(--w)) 0 white, calc(-1 * var(--w)) 0 white,
      calc(-2 * var(--w)) 0 white, calc(-3 * var(--w)) 0 white,
      calc(-4 * var(--w)) -10px white, calc(-5 * var(--w)) 0 white,
      calc(-6 * var(--w)) 0 white, calc(-7 * var(--w)) 0 white,
      calc(-8 * var(--w)) 0 white, calc(-9 * var(--w)) 0 white;
  }
  54.54% {
    text-shadow: calc(0 * var(--w)) 0 white, calc(-1 * var(--w)) 0 white,
      calc(-2 * var(--w)) 0 white, calc(-3 * var(--w)) 0 white,
      calc(-4 * var(--w)) 0 white, calc(-5 * var(--w)) -10px white,
      calc(-6 * var(--w)) 0 white, calc(-7 * var(--w)) 0 white,
      calc(-8 * var(--w)) 0 white, calc(-9 * var(--w)) 0 white;
  }
  63.63% {
    text-shadow: calc(0 * var(--w)) 0 white, calc(-1 * var(--w)) 0 white,
      calc(-2 * var(--w)) 0 white, calc(-3 * var(--w)) 0 white,
      calc(-4 * var(--w)) 0 white, calc(-5 * var(--w)) 0 white,
      calc(-6 * var(--w)) -10px white, calc(-7 * var(--w)) 0 white,
      calc(-8 * var(--w)) 0 white, calc(-9 * var(--w)) 0 white;
  }
  72.72% {
    text-shadow: calc(0 * var(--w)) 0 white, calc(-1 * var(--w)) 0 white,
      calc(-2 * var(--w)) 0 white, calc(-3 * var(--w)) 0 white,
      calc(-4 * var(--w)) 0 white, calc(-5 * var(--w)) 0 white,
      calc(-6 * var(--w)) 0 white, calc(-7 * var(--w)) -10px white,
      calc(-8 * var(--w)) 0 white, calc(-9 * var(--w)) 0 white;
  }
  81.81% {
    text-shadow: calc(0 * var(--w)) 0 white, calc(-1 * var(--w)) 0 white,
      calc(-2 * var(--w)) 0 white, calc(-3 * var(--w)) 0 white,
      calc(-4 * var(--w)) 0 white, calc(-5 * var(--w)) 0 white,
      calc(-6 * var(--w)) 0 white, calc(-7 * var(--w)) 0 white,
      calc(-8 * var(--w)) -10px white, calc(-9 * var(--w)) 0 white;
  }
  90.90% {
    text-shadow: calc(0 * var(--w)) 0 white, calc(-1 * var(--w)) 0 white,
      calc(-2 * var(--w)) 0 white, calc(-3 * var(--w)) 0 white,
      calc(-4 * var(--w)) 0 white, calc(-5 * var(--w)) 0 white,
      calc(-6 * var(--w)) 0 white, calc(-7 * var(--w)) 0 white,
      calc(-8 * var(--w)) 0 white, calc(-9 * var(--w)) -10px white;
  }
}

@media screen and (max-width: 768px) {
  .loader {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .loader {
    font-size: 30px;
  }
}
